section {
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  max-width: 100px;
}

footer {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

